* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dfd6a7;
  width: 100%;
  max-height: 50px;
}

.menu {
  position: relative;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 15px;
  align-items: baseline;
}

.menu-item {
  padding-right: 70px;
}

.menu-item img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#currency-select {
  position: relative;
  top: -4px;
  padding: 2%;
  border: 1px solid #1f1300;
  border-radius: 2px;
  background-color: #dfd6a7;
  color: #1f1300;
  font-size: 14px;
  cursor: pointer;
}

.menu-item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.menu-item span {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 75px;
}

.headerimg {
  height: 50px;
}

footer {
  background-color: #877666;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding: 20px 0;
  align-items: center;
}

footer h2 {
  font-size: 16px;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.socialmedia img {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

.socialmedia img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.newsletter_form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #094556;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #138eb0;
}

.paymentmethods {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
}

.paymentmethods img {
  width: 100px;
  height: 70px;
}

.cartTab {
  width: 400px;
  background-color: #1f1300;
  color: #eee;
  position: fixed;
  top: -100vh;
  right: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
  z-index: 1000;
}

body.showCart .cartTab {
  top: 0;
}

.cartTab h1 {
  margin: 0;
  padding: 20px;
  font-size: 150%;
  font-weight: bold;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
  background-color: #a0a9ac;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.cartTab .btn .close {
  background-color: #567e89;
}

.cartTab .ListCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.cartTab .ListCart .item img {
  width: 100%;
}

.ListCart {
  overflow: auto;
}

.ListCart::-webkit-scrollbar {
  display: none;
}

.ListCart .item:nth-child(even) {
  background-color: #2b1c04;
}

.ListCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #1f1300;
  border-radius: 50%;
  cursor: pointer;
}

.ListCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}
