body {
  font-family: "Playfair Display", serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dfd6a7;
  width: 100%;
  max-height: 50px;
}

.menu {
  position: relative;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  align-items: baseline;
}

.menu-item {
  margin: 0;
  right: 0;
  padding-right: 70px;
}

.menu-item img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
#currency-select {
  position: relative;
  top: -4px;
  padding: 2%;
  border: 1px solid #1f1300;
  border-radius: 2px;
  background-color: #dfd6a7;
  color: #1f1300;
  font-size: 14px;
  cursor: pointer;
}

.menu-item img {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.headerimg {
  position: relative;
  height: 50px;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #877666;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding-top: 20px;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  align-self: center;
}

.newsletter_form {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.socialmedia img {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

.paymentmethods img {
  width: 100px;
  height: 70px;
}

.socialmedia img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.paymentmethods {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
}
