.hero {
  background-image: url("/images/hero_image.jpg");
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: lightblue;
  height: 540px;
  width: 100vw;
  top: 0;
}

main {
  position: relative;
  top: 0;
  margin-top: 540px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #dfd6a7;
  transition: transform 0.5s;
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product_outer_ratio {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 450px;
  height: 500px;
  margin: 20px;
  margin-top: 40px;
}

.product_outer_ratio span,
.product_outer_ratio a {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #1f1300;
}

.product_outer_ratio h2 {
  margin: 0;
}

.product_outer_ratio a:hover {
  color: #1f1300;
  text-decoration: underline;
}

.product_outer_ratio button {
  background-color: #1f1300;
  color: #dfd6a7;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.product_image {
  position: relative;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: url(/images/hero_image_3.jpg);
  }

  .listProduct {
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;
  }

  .product_outer_ratio {
    width: calc(100vw / 2.5);
    height: 400px;
  }

  .product_image {
    width: 120%;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    background-image: url(/images/hero_image_2.jpg);
  }

  .listProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    width: 100vw;
    padding-bottom: 80px;
  }

  .product_outer_ratio {
    width: calc(100vw / 1.5);
    height: 400px;
    padding-bottom: 50px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 90px;
  }

  .product_image {
    width: 130%;
  }
}
